            <% @loaded_listings.each do |listing|%>
                <% if current_user != listing.user %>
                    <div class="card m-2 p-4">
                        <div class="top-listing-card d-flex">
                            <div class="card-top-left">
                                <p class="big-font"><strong><%= listing.location %></strong>
                                    <%# time_yest = Time.now - (24*60*60) %>
                                    <%# if listing.created_at > time_yest %>
                                    <% time_recent = Time.now - (60*60) %>
                                    <% if listing.created_at > time_recent %>
                                        <i class="just-added">Just added</i>
                                    <% end %>
                                </p>
                                <%= listing.user.email %>
                            </div>
                            <div class="card-top-right big-font">
                                <%= listing.currency[0,3] %>
                                <%= listing.currency_amount %>
                            </div>                
                        </div>
                        <hr>
                        <div class="card-bottom row px-3">
                            <p><%= listing.message %></p>
                            <%=link_to "book me", listing_bookings_path(listing), method: :post, class: "btn red" %>
                        </div>
                    </div>
                <% end %>
            <% end %>