<div class="bg-dark min-height">
  <div class="container">
    <div class="row pt-3">
      <div class="col-6">
        <div class="pl-1">
          <%= form_tag listings_path, method: :get, class: "form-inline" do %>
            <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Which currency?" %>

            <%= text_field_tag :where,
            params[:where],
            class: "form-control",
            placeholder: "Where?" %>
            <%= number_field_tag :distance,
            params[:distance],
            class: "form-control",
            placeholder: "within how many km?"
            %>

            <%= submit_tag "Search", class: "btn red" %>
          <% end %>
        </div>
        <div data-controller="infinite-scroll" data-action="scroll@window->infinite-scroll#scroll">
          <div class="cards-index pt-3" data-infinite-scroll-target="entries">
            <%= render "listings" %>
          </div>
        

          <div data-infinite-scroll-target="pagination">
            <%== pagy_nav @pagy_a %>
          </div>
        </div>
      </div>
          <div class="col-6">
              <div id="map"
                style="height: 100%;"
                data-markers="<%= @markers.to_json %>"
                data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
              </div>
          </div>
    </div>
  </div>
</div>
