
<h1 class ="AE">Active Exchanges</h1>
<%= form_tag listings_path, method: :get, class: "special-form" do %>
  <%= text_field_tag :query,
  params[:query],
  class: "form-control1 special-input",
  placeholder: "Find a currency" %>

  <%= text_field_tag :where,
  params[:where],
  class: "form-control1 special-input",
  placeholder: "Where ?" %>

  <%= submit_tag "Search", class: "btn btn-primary", id: "a1" %>
<% end %>

<div class="container">
  <div class="lhs-index">
    <% @listings.each do |listing|%>
      <%= link_to listing_path(listing) do  %>
        <div class="listing-card">
          <div class='listing-card-title'>
            <h5><strong><%= listing.location %></strong></h5>
            <h5><strong><%= listing.currency%> <%= listing.currency_amount %></strong></h5>
          </div>
          <p><%= listing.user.first_name  %> <%= listing.user.last_name %></p>
          <p><%= listing.message %></p>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="rhs-index">
    <!-- maps goes in here -->
  </div>
</div>
