<div id="index-page-cont">
  <%= form_tag listings_path, method: :get, class: "special-form" do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control1 special-input",
    placeholder: "Which currency?" %>

    <%= text_field_tag :where,
    params[:where],
    class: "form-control1 special-input",
    placeholder: "Where?" %>

    <%= submit_tag "Search", class: "btn btn-primary", id: "a1" %>
  <% end %>

  <div class="list-cont">
    <div class="lhs-index">
      <% @listings.each do |listing|%>
        <%= link_to listing_path(listing) do  %>
          <div class="listing-card">
            <div class='listing-top'>
              <div class="loc-cur">
                <div class="info">
                  <div class="work-pls">
                    <p><strong><%= listing.location.capitalize %></strong></p>
                    <% time_yest = Time.now - (24*60*60) %>
                    <% if listing.created_at > time_yest %>
                      <p class="just-added">Just added</p>
                    <% end %>
                  </div>
                  <p class="user-email"><%= listing.user.email %></p>
                </div>
              </div>
<!--          <p><%#= Time.now - (24*60*60) %></p>
              <p><%#= listing.created_at %></p> -->
              <p><strong><%= listing.currency %> <%= listing.currency_amount %></strong></p>
            </div>
              <hr>
            <div class="listing-bottom">
              <div class="listing-mess">
                <p><%= listing.message %></p>
              </div>
              <div class="listing-created-at">
                <% time_yest = Time.now - (24*60*60) %>
                <p class="created-at"><strong>created <%= distance_of_time_in_words(Time.now, listing.created_at) %> ago</strong></p>
              </div>
              <%= link_to "book me", listing_bookings_path(listing), method: :post, class: "btn red" %> </p>
            </div>
          </div>

        <% end %>
      <% end %>
    </div>


    <div class="rhs-index">
      <div id="map"
         style="width: 100%;
         height: 600px;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
    </div>
  </div>
</div>
