<div class="bg-dark min-height">
  <div class="container">
    <div class="row pt-3">
      <div class="col-6">
        <div class="pl-1">
          <%= form_tag listings_path, method: :get, class: "form-inline" do %>
            <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Which currency?" %>

            <%= text_field_tag :where,
            params[:where],
            class: "form-control",
            placeholder: "Where?" %>
            <%= number_field_tag :distance,
            params[:distance],
            class: "form-control",
            placeholder: "within how many km?"
            %>

            <%= submit_tag "Search", class: "btn red" %>
          <% end %>
        </div>

        <div class="cards-index pt-3">
          <% @listings.each do |listing|%>
          <% if current_user != listing.user %>
            <div class="card m-2 p-4">
              <div class="top-listing-card d-flex">
                <div class="card-top-left">
                  <p class="big-font"><strong><%= listing.location %></strong>
                    <%# time_yest = Time.now - (24*60*60) %>
                    <%# if listing.created_at > time_yest %>
                    <% time_recent = Time.now - (60*60) %>
                    <% if listing.created_at > time_recent %>
                      <i class="just-added">Just added</i>
                    <% end %></p>
                  <%= listing.user.email %>
                </div>
                <div>
                  <div class="card-top-right big-font">
                    <%= listing.currency[0,3] %>
                    <%= listing.currency_amount %>
                  </div>
                  <%= listing.location %>
                </div>
              </div>
                <hr>
              <div class="card-bottom row px-3">
                  <p><%= listing.message %></p>
                  <%=link_to "book me", listing_bookings_path(listing), method: :post, class: "btn red" %>
              </div>
            </div>
          <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-6">
          <div id="map"
             style="height: 100%;"
             data-markers="<%= @markers.to_json %>"
             data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
      </div>
    </div>
  </div>
</div>
