<h1>Exchange your cash</h1>

<%= simple_form_for(@listing) do |f| %>
  <%= f.input :currency_amount %>
  <%= f.input :currency, collection: @currencies %>
  <%= f.input :location %>
  <%= f.input :message %>
  <%= f.submit %>
<% end %>

<!-- ff + tab => form -->
<!-- end + tab => end -->
