
<div class="listing-container">
  <div class="card-box-shadow">
    <h3>Exchange your cash</h3>

    <%= simple_form_for(@listing) do |f| %>
      <%= f.input :currency_amount, input_html: {class: 'currency-amount'} %>
      <%= f.input :currency, collection: @currencies, input_html: {class: 'dropdown-currency'} %>
      <div class="exchanged-currency"></div>
      <%= f.input :location %>
      <%= f.input :message %>
      <%= f.submit 'Create listing', class: 'blue-gradient-button' %>
    <% end %>
  </div>
</div>
<!-- ff + tab => form -->
<!-- end + tab => end -->
