

<div>
  <div class="listing-card-title"><p> Where ? => <%= @listing.location %></p><div class="listing-card-title-money"><p><p> What ? => <%= @listing.currency %> <%= @listing.currency_amount %></p></div></div>
  <p><%= @listing.user.first_name  %> <%= @listing.user.last_name %></p>
  <p>Important message : <%= @listing.message %></p>
</div>


<%#= link_to 'Make a booking', #the messaging service with location %>


<%= link_to "edit", edit_listing_path(@listing)  %>

<% if @listing.user != current_user %>
  <%= link_to "book me", listing_bookings_path(@listing), method: :post %>
<% end %>
