<div class="container">
  <div class="d-flex">

    <div class="user-info">
      <h4 class="user-greeting">Hello, <%= @current_user.email %>!</h4>
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, alt: "temp", class: 'avatar-dash', gravity: :face, crop: :thumb %>
      <% else %>
        <%= image_tag 'logo.png', alt: "temp", class: 'avatar-dash' %>
      <% end %>
      <p class="running-total"> You've exchanged €
        <% if current_user.running_total == 0  %>
          <strong><%= "Nothing yet, make your first exchange!" %></strong>
        <% else %>
          <strong><%= current_user.running_total %></strong> so far!</p>
        <% end %>
    </div>
    <div class="user-content-container">
      <div class="nav" id="nav-tab" role="tablist">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">My listings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">My bookings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">My requests <span class="bg-primary">(<%= @my_bookings.where(booking_status: false).count %>)</span></a>
          </li>
        </ul>
      </div>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <br>
          <% @listings.each do |listing| %>
            <div class="tab-card-styling">
              <div class="dashboard-tab-card">
                <div class="dashboard-tab-text">
                  <p>The type of currency is <%= listing.currency.capitalize %></p>
                  <p>The amount being exchanged is <%= listing.currency_amount %></p>
                  <p>Message: <%= listing.message.capitalize %></p>
                </div>
                <div class="dashboard-tab-card-buttons">
                  <%= link_to 'edit', edit_listing_path(listing), class: "btn btn-outline-primary" %>
                  <%= link_to 'delete', delete_path(listing), method: :delete, class: "btn btn-outline-danger" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>

        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <br>
          <% @bookings.each do |booking| %>
            <div class="tab-card-styling">
              <div class="dashboard-tab-card">
                <div class="dashboard-tab-text">
                  <p> You're exchanging with <%= booking.listing.user.email %></p>
                  <p>The type of currency is <%= booking.listing.currency %></p>
                  <p>The amount being exchanged is <%= booking.listing.currency_amount %></p>
                  <% if booking.booking_status == true %>
                  <p>Booking confirmed</p>
                  <% else %>
                  <p>Booking not confirmed yet</p>
                  <% end %>
                </div>
                <div class="dashboard-tab-card-buttons">
                  <p><%= link_to "message", booking_chatrooms_path(booking), method: :post, class: "btn btn-outline-primary" %>
                  <%= link_to 'cancel', delete_booking_path(booking), method: :delete, class: "btn btn-outline-danger" %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>

        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <br>
          <% @my_bookings.each do |booking| %>
            <div class="tab-card-styling">
              <div class="dashboard-tab-card">
                <div class="dashboard-tab-text">
                  <p>Request from <%= booking.user.email %></p>
                  <p>The type of currency is <%= booking.listing.currency %></p>
                  <p>The desired amount exchanged is <%= booking.listing.currency_amount %></p>
                  <p>Message : <%= booking.listing.message %></p>
                </div>
                <div class="dashboard-tab-card-buttons">
                  <% if booking.booking_status == false %>
                    <%= link_to 'accept', listing_booking_path([booking.listing], [booking]), method: :patch, class: "btn btn-outline-primary" %>
                    <%= link_to 'refuse', delete_booking_path(booking), method: :delete, class: "btn btn-outline-danger" %>
                  <% else %>
                    <%= link_to 'Cancel', delete_booking_path(booking), method: :delete, class: "btn btn-outline-danger"%>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


































