<div class="container">
  <div class="d-flex">

    <div class="red user-info">
      <h4 class="user-greeting">Hello, <%= @current_user.email %>!</h4>
      <p class="running-total"> currency units exchanged 💰 <strong><%= current_user.running_total %></strong></p>
    </div>

    <div class="red user-content-container">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">My listings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">My bookings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">My requests</a>
          </li>
        </ul>
      </div>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <br>
          <% @listings.each do |listing| %>
            <div class="tab-card-styling">
              <p><%= listing.currency.capitalize %></p>
              <p>Amount: <%= listing.currency_amount %></p>
              <p>Message: <%= listing.message.capitalize %></p>
              <%= link_to 'edit', edit_listing_path(listing) %>
              <%= link_to 'delete', delete_path(listing), method: :delete %>
            </div>
          <% end %>
        </div>

        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <br>
          <% @bookings.each do |booking| %>
            <div class="tab-card-styling">
              <p> With <%= booking.listing.user.email %> </p>
              <p><%= booking.listing.currency %></p>
              <p><%= booking.listing.currency_amount %></p>
              <% if booking.booking_status == true %>
              <p>Booking confirmed</p>
              <% else %>
              <p>Booking not confirmed yet</p>
              <% end %>
              <p><%= link_to "Message", booking_chatrooms_path(booking), method: :post %>
              <%= link_to 'Cancel', delete_booking_path(booking), method: :delete %></p>
            </div>
          <% end %>
        </div>

        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <br>
          <% @my_bookings.each do |booking| %>
            <div class="tab-card-styling">
              <p>From <%= booking.user.email %></p>
              <p><%= booking.listing.currency %></p>
              <p><%= booking.listing.currency_amount %></p>
              <p><%= booking.listing.message %></p>
                <% if booking.booking_status == false %>
                  <%= link_to 'Accept', listing_booking_path([booking.listing], [booking]), method: :patch %>
                  <%= link_to 'Refuse', delete_booking_path(booking), method: :delete %>
                <% else %>
                  <%= link_to 'Cancel', delete_booking_path(booking), method: :delete  %>
                <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


































