<div class="dark-bg">
  <div class="container">
    <div class="d-flex home-container">
      <div class="left">
<!--       <div class="hero-section-responsive">
        <h3 id="hero-first-line">Whether you've just come back home from your travels</h3>
        <h3 id="hero-second-line">Or you're looking to go,</h3>
        <h3 id="hero-third-line">we've got you <b>covered</b></h3>
      </div> -->

        <div class="coin-headers">
          <div class="coin-1">
            <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg" class="svg-coin-1" viewBox="0 0 200 200">
  <!--           <path d="M70 70 A 15 15 0 1 1 70 10" fill="none" stroke="gray" stroke-width="2" class="path"/>
            <path d="M70 10 A 15 15 0 1 1 70 70" fill="none" stroke="gray" stroke-width="2" class="path"/> -->
              <path
                d="
                  M 5, 35
                  a 30,30 0 1,1 60,0
                  a 30,30 0 1,1 -60,0
                "
              fill="none" stroke="gray" stroke-width="2" class="path-1"/>
            </svg>
            <div class="animated-coins" id="animated-coin-1" style="background-image: url(<%= image_path "gold-coin.png" %>);"></div>
          </div>
          <div class="coin-2">
            <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg" class="svg-coin-2" viewBox="0 0 200 200">
              <path
                d="
                  M 5, 55
                  a 52,52 0 1,1 104,0
                  a 52,52 0 1,1 -104,0
                "
              fill="none" stroke="gray" stroke-width="2" class="path-2"/>
            </svg>
            <div class="animated-coins" id="animated-coin-2" style="background-image: url(<%= image_path "yen.png" %>);"></div>
          </div>
        </div>
        <h2 class="home-description">Exchange left over cash <br> for digital money,<br>wherever you are.</h2>
        <p class="revonew-description">Fast, secure transactions as recommended by billions of customers on Trustpilot, worldwide*</p>
        <div class="left-bottom">
          <%= link_to "Cash exchanges near you", listings_path, class: "blue-gradient-button-home" %>
          <%= link_to "New Exchange", new_listing_path, class: "exchange-button responsive" %>
          <div class="coin-3">
            <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg" class="svg-coin-3" viewBox="0 0 200 200">
    <!--           <path d="M65 150 A 65 65 0 1 0 130 20" fill="none" stroke="gray" stroke-width="2" class="path"/>
              <path d="M130 20 A 65 65 0 1 0 65 150" fill="none" stroke="gray" stroke-width="2" class="path"/> -->
              <path
                d="
                  M 5, 75
                  a 73,73 0 1,1 146,0
                  a 73,73 0 1,1 -146,0
                "
              fill="none" stroke="gray" stroke-width="2" class="path-3"/>
            </svg>
            <div class="animated-coins" id="animated-coin-3" style="background-image: url(<%= image_path "royal-mint.png" %>);"></div>
          </div>
        </div>
      </div>

      <div class="right">
        <%= image_tag "hugo-resized.png", alt: "money", class: "home-img" %>
      </div>
    </div>
    <div class="disclaimer">
        <p>* this is purely a promotional statement and is in no way reflected by actual statistics</p>
    </div>
  </div>
    <div class="footnote-container">
      <div class="fluff w-40">
        <a href="#" class="footer-link"><p>About</p></a>
        <a href="#" class="footer-link"><p>Terms and Conditions</p></a>
        <a href="#" class="footer-link"><p>FAQ</p></a>
        <a href="http://www.github.com/stanleypliu/MaxMyCash" class="footer-link" id="responsive-repo"><p>GitHub</p></a>
      </div>
      <div class="acknowledgments w-60">
        <p>Made with 💟 by <b>HMDS</b> @ Le Wagon | batch #361 | Check out the GitHub repo here</p>
        <a href="http://www.github.com/stanleypliu/MaxMyCash" class="footer-link"><i class="fab fa-github"></i></a>
      </div>
    </div>
</div>













